<%- include('partials/header') %>

<body style=" background-color: #9bcee6c1 !important;">
  

<div class="row  min-vh-100 ">
<div class="container d-flex align-items-center my-4" style="width: 60% !important">
  <div class="card d-flex justify-content-center w-100 rounded-4 border-3 border-dark px-5">

    <div class="card-body ">
    
        
      <h1 class="text-center mt-4 fw-bolder text-dark">Change You Password</h1>

      <div class="container-fluid d-flex flex-column mt-3 p-0">
        <%  for(const error of warning) { %>
         <div class="error p-0 mx-1 py-2 rounded text-center  border-2 border-danger row d-flex align-items-center my-2" style="border: 3px solid red;background-color: rgba(255, 171, 4, 0.383);">
            <span class="material-symbols-outlined p-0 m-0 col-1 text-danger">error</span>
           <p class="fw-bolder text-danger p-0 m-0 px-2 rounded text-center col-11 fs-6" > <%= error.message %></p>
         </div>
         <% } %>
         <% for(const succ of success) {  %>
           <div class="success p-0 mx-1 py-2 rounded text-center  border-2 border-success row d-flex align-items-center my-2" style="border: 3px solid green;background-color: rgba(172, 255, 47, 0.475);">
             <span class="material-symbols-outlined p-0 m-0 col-1 text-success"> task_alt</span>
             <p class="fw-bolder text-success p-0 m-0 rounded text-center col-11 " > <%= succ.message%></p>
           </div>                
           <% } %>           
       </div>

       <h4 class="text-center text-secondary mt-3  lh-base px-5" style="font-size: 19px;">Please enter your Email Address below <br> We will send you an email with a link to create a new password</h4>





      
      <form action="/forgot/password" method="POST" class="mt-5">
        


        <div class="form-group mt-3">
          <label for="email">Email :</label>
          <input type="email" class="form-control border-2 border-dark mt-2" name="email" id="email" required  autofocus>
        </div>    


        <div class="container-fluid d-flex flex-column align-items-center justify-content-md-center mt-4">
          <button type="submit" class="btn btn-dark fw-bold px-4  border-3 border-dark d-flex align-items-center lh-base">Sumbit</button>
        </div>
      </form>


    

    </div>
  </div>

</div>


</div>
</div>




<%- include('partials/footer') %>
