<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        *
        {

            box-sizing: border-box !important;
            font-family: "IBM Plex Mono", monospace !important;
            font-weight: 700 !important;
            font-style:italic !important;
        }
        body
        {
            background-color: rgba(86, 173, 213, 0.437) !important;
            padding: 0 0 50px 0;
        }
        h1
        {
            font-size: 35px;
            text-align: center;
            margin: 1rem 0 2rem 0;
            color: black;
        }
        h5
        {
          
            width: 100%;
            text-align: center;
            color: rgb(136, 136, 136);
            font-size: 19px;
            margin-top: 0.1rem;
            line-height:32px;
        }
        span.code
        {
            background-color: lightgray;
            color: black;
            border-radius: 12px;
            padding: 7px 15px;
            font-size: 27px;
            font-weight: bolder;
            margin: auto    ;
            border: 3px solid darkgray;
        }
        .text
        {   width: 100%;
            margin: 5rem 0 0 0 ;
        }

        span.name
        {
            color: rgb(136, 136, 136);
            font-size: 19px;
            margin-top: 0.1rem;
            line-height:32px;
        }


    </style>
</head>
<body>
    <div class="text">
        <h1 >SecretsApp <br> Email Verification</h1>
        <h5 > Hello <span class="name"> <%= name %> </span> <br> Here is your code to verify your SecretsApp Email :</h5>
        
    </div>
    <div style="display: flex; justify-content: center;">
        <span class="code"> <%= code %> </span>
    </div>
</body>
</html>