<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        *
        {

            box-sizing: border-box !important;
            font-family: "IBM Plex Mono", monospace !important;
            font-weight: 700 !important;
            font-style:italic !important;
        }
        body
        {
            background-color: rgba(86, 173, 213, 0.437) !important;
            padding: 0 0 50px 0;
        }
        h1
        {
            font-size: 35px;
            text-align: center;
            margin: 1rem 0 2rem 0;
            color: black;
        }
        h5
        {
          
            width: 100%;
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 19px;
            margin-top: 0.1rem;
            line-height:32px;
        }

        .text
        {   width: 100%;
            margin: 5rem 0 0 0 ;
        }

        span.name
        {
            color: rgb(27, 107, 220);
            font-size: 19px;
            margin-top: 0.1rem;
            line-height:32px;
        }

        div > .feedback
        {
            background-color: rgba(235, 228, 228, 0.323);
            color: rgb(94, 94, 94);
            border-radius: 12px;
            padding: 7px 15px;
            font-size: 17px;
            font-weight: bolder;
            margin: auto    ;
            border: 3px solid darkgray;
            width: 70%;
            text-align: center;
        }

        div > .email
        {
            background-color: rgba(235, 228, 228, 0.323);
            color: rgb(94, 94, 94);
            border-radius: 12px;
            padding: 7px 15px;
            font-size: 17px;
            font-weight: bolder;
            margin: auto    ;
            border: 3px solid rgb(0, 0, 0);
            width: 70%;
            text-align: center;
        }

        .title
        {
            color: black;
            line-height: 45px;
        }




        @media only screen and (max-width: 1000px)
        {
            div > .feedback
            {
                width: 75%;
            }
        }


        
        @media only screen and (max-width: 600px)
        {
            div > .feedback
            {
                width: 90%;
            }
        }




    </style>
</head>
<body>
    <div class="text">
        <h1 >SecretsApp <br> Feedback</h1>
        <h5 > <span class="name"> <%= name %> </span>have  sent a new feedback </h5>
    </div>

    <div style="display: flex; flex-direction: column;gap: 20px ;justify-content: center;width:100% ;">
        <span class="feedback">
            <span class="title">The Feedback :</span><br>
            <%= feedback %> <br>
            <br><br> 
            <span class="title " style="line-height: 30px;" ><%= name %>'s email' :</span><br> 
            <span class="email"><%= email %> </span>
         </span>
       
    </div>




    
</body>
</html>